<div class="main-container">
  <div class="form-holder">
    <div class="button-holder">
      <button mat-fab color="primary" routerLink="/login">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <form [formGroup]="form">
      <h2>Create your account</h2>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" (change)="onChange()" />
        <mat-error *ngIf="username.hasError('required')"
          >Username is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="'password'" formControlName="password" />
        <mat-error *ngIf="password.hasError('required')"
          >Password is required.</mat-error
        >
        <mat-error *ngIf="password.hasError('minlength')"
          >Password must be at least 8 characters.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choose a role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="Admin" disabled>Admin</mat-option>
          <mat-option value="Book-keeper">Book keeper</mat-option>
          <mat-option value="User">User</mat-option>
        </mat-select>
        <mat-error *ngIf="role.hasError('required')"
          >Choosing a role is required.</mat-error
        >
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="auth-button"
        (click)="register()"
        [disabled]="form.invalid"
      >
        Register
      </button>
    </form>
  </div>
</div>
