<div class="main-container">
  <div class="table-holder">
    <div class="button-holder" id="admin-page-back-button">
      <button mat-fab color="primary" routerLink="/main">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <table class="styled-table">
      <thead>
        <tr id="header-row">
          <th>Id</th>
          <th class="content">Username</th>
          <th class="content">Role</th>
          <th class="content">Delete user</th>
          <!-- <th>Change role</th> -->
          <!-- <th>Delete user</th> -->
        </tr>
      </thead>
      <tbody>
        <tr id="body-row" *ngFor="let user of userList">
          <td class="content">
            {{ user.id }}
          </td>
          <td class="content">{{ user.username }}</td>
          <td class="content">
            <section>
              <mat-checkbox *ngFor="let role of roleTypes">{{
                role
              }}</mat-checkbox>
            </section>
          </td>
          <td class="content">
            <button mat-raised-button>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
