.main-container {
  align-items: flex-start;
  margin-top: 120px;
  
  .table-holder {

    #admin-page-back-button {
      position: relative;
      top: -20px;
    }

    .styled-table {
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

      .content {
        padding: 12px 15px;
      }

      #header-row {
        background-color: #009879;
        color: #ffffff;
        text-align: center;
      }

      #body-row {
        border-bottom: 1px solid #dddddd;
        text-align: left;
        font-weight: bold;
        color: rgb(121, 85, 72);
      }

      mdc-checkbox,
      button {
        color: rgb(121, 85, 72);
      }
    }
  }
}
