<div class="main-container">
  <div class="greeting-holder">
    <div id="greeting">
      <h1>Welcome!</h1>
      <h2>Start working on your bills easily!</h2>
    </div>
    <div id="nav-button-holder">
      <div id="accessible-buttons">
        <button mat-fab extended routerLink="/invoice-list">
          List of your invoices
        </button>
        <button mat-fab extended routerLink="/">Invoice details</button>
      </div>
      <div
        *ngIf="currentRole === 'Admin' || currentRole === 'Book keeper'"
        id="limited-access-buttons"
      >
        <button mat-fab extended routerLink="/create-invoice">
          Create an invoice
        </button>
        <button
          mat-fab
          extended
          routerLink="/admin-page"
          *ngIf="currentRole === 'Admin'"
        >
          Admin page
        </button>
      </div>
    </div>
  </div>
</div>
