<div class="main-container">
  <div class="form-holder">
    <form [formGroup]="form">
      <h2>Log In</h2>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="username.hasError('required')"
          >Username is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="'password'" formControlName="password" />
        <mat-error *ngIf="password.hasError('required')"
          >Password is required.</mat-error
        >
        <mat-error *ngIf="password.hasError('minlength')"
          >Password must be at least 8 characters.</mat-error
        >
      </mat-form-field>

      <div class="button-container">
        <button
          mat-button
          class="auth-button"
          color="primary"
          (click)="login()"
        >
          Login
        </button>
        <div class="sign-up">
          <p>Don't have an account yet?</p>
          <a routerLink="/register">Register here</a>
        </div>
      </div>
    </form>
  </div>
</div>
